* {
    margin: 0;
    padding: 0;
    font-family: 'Poxast', sans-serif;
}

@font-face {
    font-family: 'Poxast';
    src: url('fonts/Poxast-R9Jjl.ttf') format('truetype');
}

body {
    background-color: #3BA99C;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.game {
    height: 75vmin;
    width: 75vmin;
    background-color: #21897E;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-top: 5vmin;
}

.box {
    height: 18vmin;
    width: 18vmin;
    border: none;
    margin: 5px;
    border-radius: 5px;
    font-size: 8vmin;
    font-family:'Courier New', Courier, monospace;;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: aliceblue;
    color: #0d274e;
}

.rstbtn {
    background-color: rgb(255, 100, 50);
    font-family: 'Poxast', sans-serif;
    margin-top: 4vh;
    padding: 2px;
}

/* Popup styling */
.scpop {
    position: fixed;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: rgba(43, 186, 211, 0.219);
    color: rgb(19, 80, 22);
    font-size: 1.5em;
    border-radius: 8px;
    box-shadow: 0px 5px 15px rgba(53, 2, 2, 0.411);
    backdrop-filter: blur(5px);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.4s ease, visibility 0.4s ease;
    z-index: 10;

    width: 45vw;
    height: 25vh;
}

.scpop.show {
    opacity: 1;
    visibility: visible;
}

.scpop-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.close {
    font-size: 1.8em;
    font-family: 'Courier New', Courier, monospace;
    cursor: pointer;
    color: rgb(0, 0, 0);
    position: absolute;
    top: 5px;
    right: 10px;
}

.close:hover {
    color: #035547;
}
#scoreMessage {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
